{% extends "layout.html" %}

{% block content %}
<div class="table-responsive">
    <h1>Todo List:</h1>
    {% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Complete</th><th>Date Completed</th><th>Delete</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/complete/{{ todo.id }}">
                        <input type="hidden" name="completed_status" value="{{ (todo.complete ? 0 : 1) }}">
                        <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon {{ todo.complete ? 'glyphicon-remove' :'glyphicon-ok' }} glyphicon-white"></span>
                        </button>
                    </form>
                </td>
                <td>
                    {% if todo.complete %}
                    <p>{{ todo.date_completed | date("H:i:s d/m/Y") }}</p>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="5">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    {% if page > 1 %}
    <a class="btn btn-primary" href="/todo?page={{ (page-1) }}">Prev</a>
    {% endif %}

    {% if (count == 10) and (totalCount > 10) %}
    <a class="btn btn-primary" href="/todo?page={{ (page+1) }}">Next</a>
    {% endif %}
</div>
{% endblock %}