{% extends "layout.html" %}

{% block content %}
<div class="table-responsive">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>Complete</th><th>Date Completed</th><th>Delete</th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>{{ todo.description }}</td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/complete/{{ todo.id }}">
                    <input type="hidden" name="completed_status" value="{{ (todo.complete ? 0 : 1) }}">
                    <button type="submit" class="btn btn-xs btn-success">
                        <span class="glyphicon {{ todo.complete ? 'glyphicon-remove' :'glyphicon-ok' }} glyphicon-white"></span>
                    </button>
                </form>
            </td>
            <td>
                {% if todo.complete %}
                <p>{{ todo.date_completed | date("H:i:s d/m/Y") }}</p>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}